/* ----------------Generic CSS  --------------*/

html {
  background-color: #F5F5F5;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 1.7em;
  font-weight: 400;
}


/* ----------------Demo header --------------*/

header {
  height: 10%;
}
header div {
  background-color: #00456E;
  position: relative;
  height: 100%;
}

header h1 {
  color: #FFF;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ----------------Tabbed Component --------------*/

main {
  height: 90%;
}

.news-tab {
  display: inline-block;
}

#uk-news:checked ~ .tabs #uk-news-tab,
#football:checked ~ .tabs #football-tab,
#travel:checked ~ .tabs #travel-tab {
  background-color: salmon;
}

#uk-news:checked ~ .feeds #uk-news-feed,
#football:checked ~ .feeds #football-feed,
#travel:checked ~ .feeds #travel-feed {
  background-color: yellow;
}

.tabs {
  height: 10%;
}

.panels {
  height: 90%;
}

ol li {
  list-style-type: decimal;
  list-style-position: inside;
}