/* ----------------Generic CSS  --------------*/

html {
  background-color: #F5F5F5;
  font-family: 'Lora', serif;
}

h1 {
  font-size: 1.7em;
  font-weight: 400;
}


/* ----------------Demo header --------------*/

header {
  height: 10%;
}
header div {
  background-color: #00456E;
  position: relative;
  height: 100%;
}

header h1 {
  color: #FFF;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ----------------Tabbed Component --------------*/

main {
  height: 90%;
}

.radio-button {
  position: absolute;
  left: -10000px;
  display: hidden;
}

.news-tab {
    display: inline-block;
    color: #FFFFFF;
    width: 30%;
    padding-bottom: .4em;
}

#uk-news:checked ~ .tabs #uk-news-tab,
#football:checked ~ .tabs #football-tab,
#travel:checked ~ .tabs #travel-tab {
  border-bottom: .15em solid white;
  cursor: default;
}

.feed {
  display: none;
}

#uk-news:checked ~ .feeds #uk-news-feed,
#football:checked ~ .feeds #football-feed,
#travel:checked ~ .feeds #travel-feed {
  display: block;
}

.tabs {
  height: 10%;
  background-color: #005689;
}

.tabs div {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.feeds {
  background-color: #fff;
  height: 90%;
}

ol li {
  list-style-type: decimal;
  list-style-position: inside;
  height: 20%;
}